USE [master]
GO
/****** Object:  Database [TPIntegradorGrupo6]    Script Date: 09/12/2023 15:06:36 ******/
CREATE DATABASE [TPIntegradorGrupo6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPIntegradorGrupo6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TPIntegradorGrupo6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPIntegradorGrupo6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TPIntegradorGrupo6_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPIntegradorGrupo6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPIntegradorGrupo6]
GO
/****** Object:  Table [dbo].[ARTICULOS]    Script Date: 09/12/2023 15:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULOS](
	[IDArticulo] [int] IDENTITY(10000,1) NOT NULL,
	[NombreArticulo] [varchar](50) NULL,
	[IDCategoria] [int] NOT NULL,
	[IDProveedor] [int] NOT NULL,
	[PrecioDeVenta] [money] NOT NULL,
	[PrecioDeCompra] [money] NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[IDCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[CodigoCiudad] [int] IDENTITY(1,1) NOT NULL,
	[NombreCiudad] [varchar](50) NOT NULL,
	[CodigoProvincia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[DNI] [bigint] NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Alias] [varchar](30) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[EMail] [varchar](50) NULL,
	[Direccion] [varchar](100) NOT NULL,
	[CodigoCiudad] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLEVENTAS]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEVENTAS](
	[IDVenta] [bigint] NOT NULL,
	[IDArticulo] [int] NOT NULL,
	[PrecioUnitario] [money] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_DETALLEVENTAS] PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC,
	[IDArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGINUSUARIOS]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGINUSUARIOS](
	[Alias] [varchar](30) NOT NULL,
	[Contrasenia] [varchar](12) MASKED WITH (FUNCTION = 'default()') NOT NULL,
	[Tipo] [char](1) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[IDPedido] [bigint] IDENTITY(1,1) NOT NULL,
	[IDArticulo] [int] NOT NULL,
	[IDProveedor] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaPedido] [date] NOT NULL,
	[CostoTotal] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[IDProveedor] [int] IDENTITY(100,1) NOT NULL,
	[NombreProveedor] [varchar](50) NOT NULL,
	[Telefono] [varchar](30) NOT NULL,
	[EMail] [varchar](50) NULL,
	[Direccion] [varchar](100) NOT NULL,
	[CodigoCiudad] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[CodigoProvincia] [int] IDENTITY(1,1) NOT NULL,
	[NombreProvincia] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[IDVenta] [bigint] IDENTITY(1,1) NOT NULL,
	[DNICliente] [bigint] NOT NULL,
	[PrecioTotal] [money] NOT NULL,
	[FechaVenta] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTICULOS] ON 

INSERT [dbo].[ARTICULOS] ([IDArticulo], [NombreArticulo], [IDCategoria], [IDProveedor], [PrecioDeVenta], [PrecioDeCompra], [Stock], [Estado]) VALUES (10000, N'Alicate', 1, 101, 2100.0000, 1050.0000, 121, 0)
INSERT [dbo].[ARTICULOS] ([IDArticulo], [NombreArticulo], [IDCategoria], [IDProveedor], [PrecioDeVenta], [PrecioDeCompra], [Stock], [Estado]) VALUES (10001, N'Capacitor', 1, 100, 830.0000, 415.0000, 350, 0)
INSERT [dbo].[ARTICULOS] ([IDArticulo], [NombreArticulo], [IDCategoria], [IDProveedor], [PrecioDeVenta], [PrecioDeCompra], [Stock], [Estado]) VALUES (10002, N'Crimpeadora', 2, 100, 13500.0000, 6750.0000, 250, 0)
SET IDENTITY_INSERT [dbo].[ARTICULOS] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORIAS] ON 

INSERT [dbo].[CATEGORIAS] ([IDCategoria], [NombreCategoria], [Descripcion]) VALUES (1, N'Arduino', N'Descripcion')
INSERT [dbo].[CATEGORIAS] ([IDCategoria], [NombreCategoria], [Descripcion]) VALUES (2, N'Componentes', NULL)
INSERT [dbo].[CATEGORIAS] ([IDCategoria], [NombreCategoria], [Descripcion]) VALUES (3, N'Herramientas', NULL)
SET IDENTITY_INSERT [dbo].[CATEGORIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[CIUDAD] ON 

INSERT [dbo].[CIUDAD] ([CodigoCiudad], [NombreCiudad], [CodigoProvincia]) VALUES (1, N'Aimogasta', 11)
INSERT [dbo].[CIUDAD] ([CodigoCiudad], [NombreCiudad], [CodigoProvincia]) VALUES (2, N'Allen', 15)
INSERT [dbo].[CIUDAD] ([CodigoCiudad], [NombreCiudad], [CodigoProvincia]) VALUES (3, N'Alta Gracia', 5)
GO
SET IDENTITY_INSERT [dbo].[CIUDAD] OFF
GO
INSERT [dbo].[CLIENTES] ([DNI], [Apellido], [Nombre], [Alias], [Telefono], [EMail], [Direccion], [CodigoCiudad], [Estado]) VALUES (30222555, N'Martínez', N'Mario', N'MarioMartinez', N'47223366', N'MarioMartinez@gmail.com', N'Alsina 502', 2, 1)
INSERT [dbo].[CLIENTES] ([DNI], [Apellido], [Nombre], [Alias], [Telefono], [EMail], [Direccion], [CodigoCiudad], [Estado]) VALUES (32500400, N'Alcázar', N'Pedro', N'PedroAlcazar', N'47445102', N'PedroAlcazar@gmail.com', N'Av. Sobremonte 126', 1, 1)
INSERT [dbo].[CLIENTES] ([DNI], [Apellido], [Nombre], [Alias], [Telefono], [EMail], [Direccion], [CodigoCiudad], [Estado]) VALUES (34556880, N'Miller', N'Diana', N'DianaMiller', N'47982412', N'DianaMiller@gmail.com', N'Madero 444', 2, 1)
GO
INSERT [dbo].[LOGINUSUARIOS] ([Alias], [Contrasenia], [Tipo], [Estado]) VALUES (N'DianaMiller', N'DianaM123', N'C', 1)
INSERT [dbo].[LOGINUSUARIOS] ([Alias], [Contrasenia], [Tipo], [Estado]) VALUES (N'MarioMartinez', N'MarioM123', N'V', 1)
INSERT [dbo].[LOGINUSUARIOS] ([Alias], [Contrasenia], [Tipo], [Estado]) VALUES (N'PedroAlcazar', N'PedroA123', N'C', 1)
GO
SET IDENTITY_INSERT [dbo].[PEDIDOS] ON 

INSERT [dbo].[PEDIDOS] ([IDPedido], [IDArticulo], [IDProveedor], [Cantidad], [FechaPedido], [CostoTotal]) VALUES (1, 10004, 100, 12, CAST(N'2023-01-10' AS Date), 3000.0000)
INSERT [dbo].[PEDIDOS] ([IDPedido], [IDArticulo], [IDProveedor], [Cantidad], [FechaPedido], [CostoTotal]) VALUES (2, 10006, 101, 15, CAST(N'2023-03-10' AS Date), 81000.0000)
SET IDENTITY_INSERT [dbo].[PEDIDOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVEEDORES] ON 

INSERT [dbo].[PROVEEDORES] ([IDProveedor], [NombreProveedor], [Telefono], [EMail], [Direccion], [CodigoCiudad], [Estado]) VALUES (100, N'Siemens', N'1123112233', N'SiemensProv@gmail.com', N'Av. Córdoba 1200', 5, 1)
INSERT [dbo].[PROVEEDORES] ([IDProveedor], [NombreProveedor], [Telefono], [EMail], [Direccion], [CodigoCiudad], [Estado]) VALUES (101, N'Sica', N'1123332211', N'SicaProv@gmail.com', N'Av. Libertador 7002', 1, 1)
SET IDENTITY_INSERT [dbo].[PROVEEDORES] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVINCIA] ON 

INSERT [dbo].[PROVINCIA] ([CodigoProvincia], [NombreProvincia]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[PROVINCIA] ([CodigoProvincia], [NombreProvincia]) VALUES (2, N'Catamarca')
INSERT [dbo].[PROVINCIA] ([CodigoProvincia], [NombreProvincia]) VALUES (3, N'Chaco')
SET IDENTITY_INSERT [dbo].[PROVINCIA] OFF
GO
ALTER TABLE [dbo].[ARTICULOS] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[LOGINUSUARIOS] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[PROVEEDORES] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[VENTAS] ADD  CONSTRAINT [DF_VENTAS_FechaVenta]  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[ARTICULOS]  WITH CHECK ADD FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[CATEGORIAS] ([IDCategoria])
GO
ALTER TABLE [dbo].[ARTICULOS]  WITH CHECK ADD FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[PROVEEDORES] ([IDProveedor])
GO
ALTER TABLE [dbo].[CIUDAD]  WITH CHECK ADD FOREIGN KEY([CodigoProvincia])
REFERENCES [dbo].[PROVINCIA] ([CodigoProvincia])
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([Alias])
REFERENCES [dbo].[LOGINUSUARIOS] ([Alias])
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([CodigoCiudad])
REFERENCES [dbo].[CIUDAD] ([CodigoCiudad])
GO
ALTER TABLE [dbo].[DETALLEVENTAS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEVENTAS_ARTICULOS] FOREIGN KEY([IDArticulo])
REFERENCES [dbo].[ARTICULOS] ([IDArticulo])
GO
ALTER TABLE [dbo].[DETALLEVENTAS] CHECK CONSTRAINT [FK_DETALLEVENTAS_ARTICULOS]
GO
ALTER TABLE [dbo].[DETALLEVENTAS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEVENTAS_VENTAS] FOREIGN KEY([IDVenta])
REFERENCES [dbo].[VENTAS] ([IDVenta])
GO
ALTER TABLE [dbo].[DETALLEVENTAS] CHECK CONSTRAINT [FK_DETALLEVENTAS_VENTAS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([IDArticulo])
REFERENCES [dbo].[ARTICULOS] ([IDArticulo])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[PROVEEDORES] ([IDProveedor])
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH CHECK ADD FOREIGN KEY([CodigoCiudad])
REFERENCES [dbo].[CIUDAD] ([CodigoCiudad])
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD FOREIGN KEY([DNICliente])
REFERENCES [dbo].[CLIENTES] ([DNI])
GO
ALTER TABLE [dbo].[ARTICULOS]  WITH CHECK ADD CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[LOGINUSUARIOS]  WITH CHECK ADD CHECK  (([Tipo]='V' OR [Tipo]='C'))
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarArticulo]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarArticulo] 
	@NOMBRE varchar(50),
	@IDCATEGORIA int,
	@IDPROVEEDOR int,
	@PRECIOVENTA money,
	@PRECIOCOMPRA money,
	@STOCK int
AS
BEGIN
	INSERT INTO ARTICULOS (NombreArticulo, IDCategoria, IDProveedor, PrecioDeVenta, PrecioDeCompra, Stock)
	VALUES (@NOMBRE, @IDCATEGORIA, @IDPROVEEDOR, @PRECIOVENTA, @PRECIOCOMPRA, @STOCK)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarCategoria]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_AgregarCategoria]
	@NOMBRECAT VARCHAR(50),
	@DESCRIP VARCHAR(100)
AS
BEGIN
	INSERT INTO CATEGORIAS(NombreCategoria, Descripcion)
	VALUES (@NOMBRECAT, @DESCRIP)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarDetalleVenta]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AgregarDetalleVenta]
	-- Add the parameters for the stored procedure here
	@IDVENTA BIGINT,
	@IDARTICULO INT,
	@CANTIDAD INT,
	@PRECIOUNITARIO MONEY
AS
BEGIN
    -- Insert statements for procedure here
	INSERT INTO DETALLEVENTAS (IDVenta, IDArticulo, Cantidad, PrecioUnitario) VALUES (@IDVENTA, @IDARTICULO, @CANTIDAD, @PRECIOUNITARIO)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarPedidoMercaderia]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AgregarPedidoMercaderia](
    @IDArticulo INT,
    @Cantidad INT
)
AS 
    BEGIN
    DECLARE @IDProveedor INT
    SELECT @IDProveedor = IDProveedor FROM ARTICULOS WHERE IDArticulo = @IDArticulo

    DECLARE @TOTAL MONEY
    SET @TOTAL = @Cantidad * (SELECT PrecioDeCompra FROM ARTICULOS WHERE IDArticulo = @IDArticulo)

    INSERT INTO PEDIDOS (IDArticulo,IDProveedor,Cantidad,FechaPedido,CostoTotal)
    VALUES (@IDArticulo,@IDProveedor,@Cantidad,GETDATE(),@TOTAL)

    END 
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProveedor]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarProveedor]
	@NOMBRE VARCHAR(50),
	@TELEFONO VARCHAR(30),
	@EMAIL VARCHAR(50),
	@DIRECCION VARCHAR(100),
	@CODCIUDAD INT
AS
BEGIN
	INSERT INTO PROVEEDORES (NombreProveedor, Telefono, EMail, Direccion, CodigoCiudad)
	VALUES (@NOMBRE, @TELEFONO, @EMAIL, @DIRECCION, @CODCIUDAD)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarVenta]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AgregarVenta](
    @DNICliente BIGINT,
	@TOTAL MONEY
)
AS 
    BEGIN
    INSERT INTO VENTAS (DNICliente,PrecioTotal)
    VALUES (@DNICliente,@TOTAL)
    END 
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarArticulo]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarArticulo]
	@IDARTICULO int,
	@NOMBRE varchar(50),
	@IDCATEGORIA int,
	@IDPROVEEDOR int,
	@PRECIOVENTA money,
	@PRECIOCOMPRA money,
	@STOCK int
AS
BEGIN
	UPDATE ARTICULOS SET 
		NombreArticulo = @NOMBRE, 
		IDCategoria = @IDCATEGORIA,
		IDProveedor = @IDPROVEEDOR,
		PrecioDeVenta = @PRECIOVENTA,
		PrecioDeCompra = @PRECIOCOMPRA,
		Stock = @STOCK
	WHERE IDArticulo = @IDARTICULO
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCategoria]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CATEGORIAS

CREATE PROCEDURE [dbo].[sp_ModificarCategoria]
	@IDCAT INT,
	@NOMBRECAT VARCHAR(50),
	@DESCRIP VARCHAR(100)
AS
BEGIN 
	UPDATE CATEGORIAS SET

		NombreCategoria = @NOMBRECAT,
		Descripcion = @DESCRIP
	WHERE IDCategoria = @IDCAT
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCliente]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarCliente]
	@DNI bigint,
	@APELLIDO varchar(50),
	@NOMBRE varchar(50),
	@ALIAS varchar(30),
	@CONTRASENIA varchar(12),
	@TELEFONO varchar(50),
	@EMAIL varchar(50),
	@DIRECCION varchar(100),
	@CODCIUDAD int
AS
BEGIN
	UPDATE LOGINUSUARIOS SET Contrasenia = @CONTRASENIA WHERE Alias = @ALIAS
	UPDATE CLIENTES SET
		Apellido = @APELLIDO,
		Nombre = @NOMBRE,
		Telefono = @TELEFONO,
		EMail = @EMAIL,
		Direccion = @DIRECCION,
		CodigoCiudad = @CODCIUDAD
	WHERE DNI = @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarProveedor]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificarProveedor]
	@IDPROVEEDOR INT,
	@NOMBRE VARCHAR(50),
	@TELEFONO VARCHAR(30),
	@EMAIL VARCHAR(50),
	@DIRECCION VARCHAR(100),
	@CODCIUDAD INT
AS
BEGIN 
	UPDATE PROVEEDORES SET
		NombreProveedor = @NOMBRE,
		Telefono = @TELEFONO,
		EMail = @EMAIL,
		Direccion = @DIRECCION,
		CodigoCiudad = @CODCIUDAD
	WHERE IDProveedor = @IDPROVEEDOR
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarCliente]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarCliente](
    @Alias VARCHAR(30),
    @Contrasenia VARCHAR(12),

    @DNI INT,
    @Apellido VARCHAR(50),
    @Nombre VARCHAR(50),
    @Telefono VARCHAR(50),
    @EMail VARCHAR(50),
    @Direccion VARCHAR(100),
    @CodigoCiudad INT
)
AS 
BEGIN
    BEGIN TRY 
    BEGIN TRANSACTION
    INSERT INTO LOGINUSUARIOS (Alias,Contrasenia,Tipo)
    VALUES (@Alias,@Contrasenia,'C')

    INSERT INTO CLIENTES
    VALUES(@DNI,@Apellido,@Nombre,@Alias,@Telefono,@Direccion,@EMail,@CodigoCiudad,1)
    COMMIT TRANSACTION
    END TRY 
    BEGIN CATCH
    RAISERROR ('Error al intentar el registro',16,1)
    ROLLBACK TRANSACTION
    END CATCH
END





















GO
/****** Object:  Trigger [dbo].[tr_BajaLogicaArticulo]    Script Date: 09/12/2023 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[tr_BajaLogicaArticulo] ON [dbo].[ARTICULOS]
INSTEAD OF DELETE
AS 
BEGIN
    UPDATE ARTICULOS SET Estado = 0
    WHERE IDArticulo = (SELECT IDArticulo FROM DELETED)
END 
GO
ALTER TABLE [dbo].[ARTICULOS] ENABLE TRIGGER [tr_BajaLogicaArticulo]
GO
/****** Object:  Trigger [dbo].[tr_BajaLogicaCliente]    Script Date: 09/12/2023 15:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_BajaLogicaCliente] on [dbo].[CLIENTES] 
INSTEAD OF DELETE 
AS 
BEGIN 
    BEGIN TRY 
    BEGIN TRANSACTION
    UPDATE CLIENTES SET Estado = 0
    WHERE DNI = (SELECT DNI FROM DELETED)

    UPDATE LOGINUSUARIOS SET Estado = 0
    WHERE Alias LIKE (SELECT Alias FROM DELETED)
    COMMIT TRANSACTION
    END TRY 
    BEGIN CATCH
    ROLLBACK TRANSACTION
    END CATCH
END 
GO
ALTER TABLE [dbo].[CLIENTES] ENABLE TRIGGER [tr_BajaLogicaCliente]
GO
/****** Object:  Trigger [dbo].[tr_ReducirStock]    Script Date: 09/12/2023 15:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[tr_ReducirStock]
   ON [dbo].[DETALLEVENTAS]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE ARTICULOS 
	SET STOCK = (SELECT STOCK FROM ARTICULOS WHERE IDArticulo = (SELECT IDArticulo FROM INSERTED)) - (SELECT Cantidad FROM INSERTED)
    WHERE IDArticulo = (SELECT IDArticulo FROM INSERTED)
    -- Insert statements for trigger here

END
GO
ALTER TABLE [dbo].[DETALLEVENTAS] ENABLE TRIGGER [tr_ReducirStock]
GO
/****** Object:  Trigger [dbo].[tr_BajaLogicaLoginUsuario]    Script Date: 09/12/2023 15:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[tr_BajaLogicaLoginUsuario] ON [dbo].[LOGINUSUARIOS]
INSTEAD OF DELETE
AS 
BEGIN 
    UPDATE LOGINUSUARIOS SET Estado = 0
    WHERE Alias LIKE (SELECT Alias FROM DELETED)
END 

GO
ALTER TABLE [dbo].[LOGINUSUARIOS] ENABLE TRIGGER [tr_BajaLogicaLoginUsuario]
GO
/****** Object:  Trigger [dbo].[TR_PEDIDOAGREGADO]    Script Date: 09/12/2023 15:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PEDIDOS
--30222555 es el dni del unico USER ADMIN x lo que lo use de ejemplo aqui,
--ya que es el único que podria gestionar algo

CREATE TRIGGER [dbo].[TR_PEDIDOAGREGADO]
ON [dbo].[PEDIDOS] AFTER INSERT
AS 
DECLARE @IDarticulo int
DECLARE @DNI int
DECLARE @CANT int
DECLARE @TOTAL MONEY
BEGIN
SET @IDarticulo = (SELECT IDArticulo FROM INSERTED)
SET @DNI = 30222555
SET @CANT = (SELECT Cantidad FROM INSERTED)
SET @TOTAL = (SELECT CostoTotal FROM INSERTED)
INSERT INTO VENTAS (IDArticulo,DNICliente,Cantidad,PrecioTotal,FechaVenta)
VALUES (@IDarticulo,@DNI,@CANT,@TOTAL,GETDATE())

END
GO
ALTER TABLE [dbo].[PEDIDOS] ENABLE TRIGGER [TR_PEDIDOAGREGADO]
GO
/****** Object:  Trigger [dbo].[tr_BajaLogicaProveedor]    Script Date: 09/12/2023 15:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[tr_BajaLogicaProveedor] ON [dbo].[PROVEEDORES]
INSTEAD OF DELETE 
AS 
BEGIN
    UPDATE PROVEEDORES SET Estado = 0
    WHERE IDProveedor = (SELECT IDProveedor FROM DELETED)
END 
GO
ALTER TABLE [dbo].[PROVEEDORES] ENABLE TRIGGER [tr_BajaLogicaProveedor]
GO

-----
USE [master]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ModificarCliente]
	@DNI bigint,
	@APELLIDO varchar(50),
	@NOMBRE varchar(50),
	@TELEFONO varchar(50),
	@EMAIL varchar(50),
	@DIRECCION varchar(100),
	@CODCIUDAD int
AS
BEGIN
	
	UPDATE CLIENTES SET
		Apellido = @APELLIDO,
		Nombre = @NOMBRE,
		Telefono = @TELEFONO,
		EMail = @EMAIL,
		Direccion = @DIRECCION,
		CodigoCiudad = @CODCIUDAD
	WHERE DNI = @DNI
END
GO